<header>
    <div id="logo">
        <img src="assets/img/logo.svg" alt="logo">
    </div>
    <nav id="menu">
        <a id="about" href="#">Sobre</a>
        <a id="courses" href="#">Cursos</a>
        <a id="books" href="#">Livros</a>
        <a id="certificates" href="#">Certificados</a>
        <a id="contact" href="#">Contato</a>
    </nav>
</header>

<div id="corpo">
    <div id="efeito">
        <div id="fundo">

            <h1 id="titulo">Nitai Charan</h1>
            <nav>
                <a id="yellow" style="color: yellow" href="#">Amarelo</a>
                <a id="orange" style="color: orange" href="#">Jaranja</a>
                <a id="red" style="color: red" href="#">Vermelho</a>
                <a id="pink" style="color: pink" href="#">Rosa</a>
                <a id="green" style="color: green" href="#">Verde</a>
            </nav>
            <div id="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dictum massa id lacus pulvinar viverra. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi finibus euismod pellentesque. Phasellus sodales tellus id risus aliquam vulputate. In elit magna, tempus nec ultricies quis, commodo in tortor. Aliquam gravida est nisl, nec maximus dui consectetur vel. Proin sed aliquet turpis. Suspendisse ullamcorper et libero eget ultrices. Vestibulum ut tellus in purus placerat ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin finibus et ex volutpat eleifend.</p>
                <p>Cras in velit elit. Nam purus eros, venenatis id imperdiet sed, semper at orci. Nam volutpat massa lorem, eu porttitor turpis fringilla id. Vivamus convallis dignissim vehicula. Curabitur libero nisi, maximus vel imperdiet et, mollis ut lectus. Nulla quis sem dignissim libero laoreet consequat sed nec erat. Donec vehicula luctus fringilla. Praesent vel neque at nunc finibus aliquam. Sed sollicitudin pharetra metus, a efficitur dolor blandit et. Cras tincidunt ultricies urna, nec pharetra tellus tempor at. In hac habitasse platea dictumst. Cras consequat, quam a commodo varius, eros diam tincidunt mi, vel hendrerit diam enim vel diam. In elementum augue est, non elementum metus sagittis sed. Nam et risus ac augue ornare luctus. Phasellus sit amet mattis nisl, ultricies eleifend nunc. Donec eget magna non erat fringilla mollis.</p>
            </div>
        </div>
        <div>
            <nav id="backgroundnav">
                <a id="1" href="#">1</a>
                <a id="2" href="#">2</a>
                <a id="3" href="#">3</a>
                <a id="4" href="#">4</a>
                <a id="5" href="#">5</a>
            </nav>
        </div>
    </div>
</div>

<footer>
    <div id="by">
        <p>Desenvolvido por Nitai Charan</p>
    </div>
</footer>
