header {
    padding: 8px 0px 8px 16px;
    background-color: #35b8b0;
    height: 80px;
}


#logo {
    float: left;
}

#menu {
    float: right;
    margin-top: 30px;
}

#menu a{
    text-decoration: none;
    padding: 39px;
    color: rgba(255,255,255,.5);
}
#menu a:hover{
    background-color: rgba(1,1,1,.7);
    color: rgba(255,255,255,1);
}

#corpo {
    clear: both;
    background-image: url(../../assets/img/city.jpg);
    background-size: 100%;
    height: 849px;
}
#fundo{
    background-color: rgba(1,1,1,.7);
    text-shadow: 1px 1px 1px #111111;
}
#fundo h1{
    padding:1%;
    text-align: center;
    color: white;
}
#fundo p{
    padding: 1% 30% 1% 30%;
    color: white;
    text-align: justify;
}

#efeito {
    padding-top: 10%;
}

footer {
    background-color: #35b8b0;
    height: 60px;
}

#by {
    text-align: center;
    padding: 20px;
}

#fundo nav{
    text-align: center;
}

#fundo nav a{
    margin:10px;
    text-decoration:none;
}

#backgroundnav {
    margin-top: 80px;
    text-align: center;
}

#backgroundnav a {
    text-align: center;
    text-decoration:none;
    text-shadow: 1px 1px 1px #111111;
    margin:10px;
    color: white;
    padding:10px;
    background-color: rgba(1,1,1,.5);
}
